/*
test
*/
*{
	margin:0px;
	padding:0px;
}
header,section,footer,aside,nav,article,hgroup{
	display:block;
}
a,p,h1,h2,h3,h4,h5,h6{
	font-family:MyriadPro-Regular,Verdana, serif;
}
body{
	width:100%;
	background:#2e2e2e;	
	
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	
	display:-webkit-box;
	-webkit-box-pack:center;
	
	display:-ms-box;
	-ms-box-pack:center;
	-ms-box-align:center;
}

#wrapper{
	background:#ffffff;
	max-width:1140px;
	
	display:-moz-box;
	-moz-box-orient:vertical;
	-moz-box-flex:1;
	
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex:1;
	
	display:-ms-box;
	-ms-box-orient:vertical;
	-ms-box-flex:1;
}
#top_head{
	background:#2e2e2e;
	padding:20px;
	padding-bottom:0px;
}
/**************
	LOGO
***************/
#logo_navigation{
	margin-top:30px;
	-moz-box-orient:horizontal;
	
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	
	display:-ms-box;
	-ms-box-orient:horizontal;
}
/**************
	SOCIAL MEDIA LINKS
***************/
.socialMedia{
    display: table;
	float:right;
	
    -moz-box-orient:horizontal;
    -moz-box-flex:1;
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    -webkit-box-flex:1;
    display:-ms-box;
    -ms-box-orient:horizontal;
    -ms-box-flex:1;
}
.socialMedia a {
    display: table-cell;
    vertical-align: middle;
	padding-right:5px;
}
..socialMedia a:last-child {
    display: table-cell;
    vertical-align: middle;
	padding-right:0px;
}
.socialMedia h3 {
    display: table-cell;
    vertical-align: middle;
	font-size:14px;
	font-family:Times, Arial,serif;
	font-weight:normal;
	color:#b6b5b5;
	padding-right:10px;
	padding-bottom:1px;
}

/**************
	NAVIGATION
***************/
#navigation{
	-moz-box-flex:1;
	-webkit-box-flex:1;
	-ms-box-flex:1;
	text-align:right;
	padding-top:20px;
	float:right;
	
}
#navigation li{
	display:inline-block;
	list-style:none;
	padding:13px;
}
#navigation li:last-child{
	padding:0px;
}
#navigation a{
	color:#ffffff;
	text-transform:uppercase;
	text-decoration:none;
	font-size:14px;
}
/**************
	FOOTER
***************/
footer{
	background:#211201;
	padding:20px;
	margin-top:80px;
	color:white;
	
	display:-moz-box;
	-moz-box-orient:horizontal;
	
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	
	display:-ms-box;
	-ms-box-orient:horizontal;
}
footer p{
	-moz-box-flex:1;
	-webkit-box-flex:1;
	-ms-box-flex:1;
	
	text-align:right;
	font-size:11px;
	margin-top:13px;
}
footer p a{
	text-decoration:none;
}
#footer_nav{
	display:-moz-box;
	-moz-box-flex:1;
	
	display:-webkit-box;
	-webkit-box-flex:1;
	
	display:-ms-box;
	-ms-box-flex:1;
}
#footer_nav ul{
	display:inline-block;
	padding-right:30px;
}
#footer_nav li{
	list-style:none;
}
#footer_nav a{
	color:white;
	font-size:11px;
	text-decoration:none;
}
#footer_nav a:hover{
	text-decoration:underline;
}